* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #e6f7ff;
    color: #333;
}

header {
    background-color: #040505;
    color: white;
    padding: 1.5em 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.3em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

.container {
    width: 85%;
    margin: auto;
}

main {
    padding: 3em;
    text-align: center;
    background-color: #cce7ff;
    margin-top: 1.5em;
    border-radius: 10px;
}
h1 {
    color: rgb(177, 27, 27);
    justify-content: center;
    /* align-items: center; */
}

h2 {
    margin-bottom: 1em;
    color: #000000;
}
p{
    justify-content: center;
    /* align-items: center; */
}

footer {
    background-color: #b60707;
    color: white;
    text-align: center;
    padding: 1.2em 0;
    margin-top: 2em;
    border-radius: 0 0 10px 10px;
}

footer p {
    margin: 0;
}
.main-footer{
    display: flex;
    gap: 30px;
    justify-content: center;
    /* align-items: center; */
}
.button {
    padding: 10px 20px;
    background-color: #004d80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #007acc;
}
label{
    color: #b60707;
    font-family: Arial, Helvetica, sans-serif;
}
